<ul>
<% job_collection.each do |job| %>
  <li>Repairman: <%= job.repairman.name %><br>Customer: <%= job.customer.name %><br>Location: <%= job.location %><br>
    <ul>
      <% job.tickets.each do |order| %>
        <li>
          <%= order.description %>, $<%= order.price %>, <strong><%= order.status %></strong><% if order.status == 'pending' %>, mark complete? <input type="checkbox" name="ids[]" value="<%= order.id %>">
          <% end %><br>
        </li>
      <% end %>
    </ul>
  </li>
  <%= link_to "Edit Job", edit_repairman_job_path(job.repairman, job) %>  |
  <%= link_to "Delete Job", "/repairmen/#{job.repairman.id}/jobs/#{job.id}", method: :delete %><br><br>
<% end %>
</ul>
