<h1>Welcome to Repair Shop!</h1>

<%= render partial: "nav", locals: {rep: @repairman} %>

  <div>
    <h4>All Pending Jobs:</h4>
    <%= form_tag('/complete') do %>
    <%= render partial: 'repairmen/job_list', locals: {job_collection: Job.unfinished_jobs} %>
    <%= submit_tag("Mark Selected Complete") %>
    <% end %>
  </div>


<div>
  <h4>All Completed Jobs:</h4>
  <%= render partial: 'repairmen/job_list', locals: {job_collection: Job.finished_jobs} %>
</div>
