<!DOCTYPE html>
<html>
  <head>
    <title>RailsRepairShopApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav>
  <% if current_mechanic %>
    <span>Logged in as <%= current_repairman.name %>.  |  </span>
    <span id="profile-button"><%= link_to "View Your Profile", repairman_path(current_repairman) %>  |  </span>
    <span id="home-button"><%= link_to "Home", "/" %>  |  </span>
    <span><%= link_to "Log Out", destroy_repairman_session_path, method: :delete %></span>
  <% else %>
    <span><%= link_to "Sign Up", new_repairman_registration_path %>  |  <span>
    <span><%= link_to "Sign In", new_repairman_session_path %>  |  </span>
    <span><%= link_to "Log In with Facebook", '/auth/facebook' %></span>
  <% end %>
  <br><br><br>
  </nav>
    <%= yield %>
  </body>
</html>
